.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 40%;
  height: 10em;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2rem;
}

.box strong {
  margin-bottom: 0.2em;
}

.box p {
  margin-bottom: 1.5em;
}

/* Media Query */
@media screen and (max-width: 540px) {
  .box {
    width: 80%;
    font-size: 1rem;
  }

  .box p {
    font-size: 0.8rem;
  }
}
