@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

body {
  color: #272926;
  font-family: 'Roboto', sans-serif;
}

/* Main Layout */
.container {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  min-height: 0;
}

/* Media Query */
@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 100%;
  }
}
